* {
margin:0;
padding:0;
}

html {
scroll-behavior:smooth;
}
.container {
padding: 0 100px 0 100px;
}




/*----------navigation--------*/
#nav-bar {
background-color: #252627;
position: sticky;
top:0;
z-index:10;
}
.navbar-brand img {
height:40px;
padding-left:30px;
}
.navbar-nav li {
padding:0 10px;
}
.navbar-nav li a {
float:right;
text-align:left;
}
#nav-bar ul li a:hover {
  color: #F0F8FF!important;
}
.navbar {
background: #fff;
}
.navbar-toggler {
border: none!important;
}
.nav-link {
color:#20272e!important;
font-weight: 600;
font-size: 20px;
}

/*----part2---*/
#main-section {
background-color: #252627;
}
.main-info-section {
height: calc(100vh -10px);
}
.text {
font-family: Bahnschrift SemiBold;
font-size: 24px;  
margin-top: 0px;
padding-top: 100px;  
}
.text h1 {
color: #fff;
fontsize: 4rem;
cursor: context-menu;
}
.text span {
display: inline-block;
}
span:hover {
color: #5486ac;
transition: all .5s;
}
span.name {
color: #1d5380;
}
span.name:hover {
color: #fff;
transition: all .5s;
}
span.m-left {
margin-left: -10px;
}
.text p {
color: #fff;
letter-spacing: 3px;
word-spacing: 10px;
font-size: .8rem;
}


